@import './_variables.scss';

body {
  //font-family: 'Orbitron';
  font-family: 'Exo 2', sans-serif;
  background-color: #fff;
}

.spacex-container {
  text-align: center;
}

.navigation-btn {
  margin-top: 150px;
  display: inline-block;
  height: 700px;
  vertical-align: top;
  @media (min-width: 1901px) {
    display: none;
  }
}

.disabled {

  .navigation-icon {
    color: #ccc;
  }
  pointer-events: none;
}

.navigation-icon {
  height: 700px;
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}

.navigation-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s;
}

.launch-slide-container {
  @media(max-width: 1900px) {
    width: 650px;
    display: inline-block;
    overflow: hidden;
  }
  .slide-1, .slide-2, .slide-3 {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .slide-1 {
    transform: translateX(0);
  }
  .slide-2 {
    transform: translateX(-650px);
  }
  .slide-3 {
    transform: translateX(-1300px);
  }

}

.launch-container {
  width: 1950px;
  @media (max-width: 1900px) {
    text-align: left;
  }

  margin: 0 auto;
  text-align: center;

}

.header-container {
  min-width: 500px;
  margin: 0 auto;
  height: 75px;
  text-align: center;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .logo-container {
    width: 50%;
    .logo-img {
      padding: 5px 0;
      width: 225px;
    }
  }
  .header-links {
    width: 25%;
    color: white;
    padding-left: 25px;
    text-align: left;

    .route-link {
      color: white;
      text-decoration: none;
      padding: 0 15px;
      font-size: 16px;
    }

    .route-link:hover {
      color: #fbab20;
    }
    .first-link {
      border-right: 1px solid white;
    }
  }
  .placeholder {
    width: 25%;
  }
}

.flight-container-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: $primaryColorDark;
  color: white;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.flight-card-container {
  border-radius: 10px;
  vertical-align: middle;
  margin: 150px 25px 25px 25px;
  @media(max-width: 1900px) {
    margin: 150px 50px 50px 50px;
  }
  width: 550px;
  height: 700px;
  background-color: #555;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);

  .flight-card-top {
    background-color: #333;
    position: relative;
    height: 200px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    .divider {
      width: 150px;
      background-color: #666;
      margin: 5px auto;
      height: 1px;
    }
    .flight-card-number {
      font-size: 18px;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
    .flight-card-name {
      color: #aaa;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      width: fit-content;
    }
    .flight-card-image-container {
      width: 150px;
      height: 150px;
      border-radius: 200px;
      position: absolute;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
      .flight-card-image {
        width: 125px;
      }
    }
    .flight-card-number {
      font-size: 32px;
      color: #ddd;
      text-align: center;
      text-transform: uppercase;
    }
    .success-container {
      color: #aaa;
      text-align: right;
      padding: 5px 5px 0 0;
      font-size: 16px;
    }
  }

  .bottom-row {
    border-top: 1px solid #666;
    margin: 0 20px 0 20px;
  }

  .bottom-row:first-child {
    border-top: none;
  }

  .flight-card-bottom-container {
    overflow: hidden;
  }

  .flight-card-bottom-slide-container {
    width: 1100px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  .flight-card-bottom {
    width: 550px;
    display: inline-block;
    text-align: left;
    padding: 75px 30px 0 20px;
    font-size: 18px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    .flight-card-row {
      color: white;
      padding: 10px 0;
    }
    .descriptor {
      text-transform: uppercase;
      color: #aaa;
      margin-right: 10px;
    }

    .flight-card-row-details {
      height: 175px;
      letter-spacing: 1px;
      overflow: hidden;
    }

    .expand-icon-container {
      margin-top: 5px;
      height: 28px;
      text-align: center;
    }
    .expand-text {
      font-size: 18px;
      color: #fbab20;

    }
    .expand-text:hover {
      cursor: pointer;
    }
  }
}

.full-details {
  display: inline-block;
  width: 550px;
  padding: 115px 30px 0 20px;
  vertical-align: top;
  text-align: center;

  .full-details-header {
    color: #aaa;
    width: 150px;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
  .full-details-header:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 10px;
    border-bottom: 1px solid #aaa;
  }

  .full-details-text {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
  }

  .full-details-back-btn {
    color: #fbab20;
    font-size: 24px;
    margin-top: 30px;
  }

  .full-details-back-btn:hover {
    cursor: pointer;
  }
}

.show-details {
  transform: translateX(-550px);
}

//Taken from https://github.com/IanLunn/Hover/blob/master/css/hover.css
.hvr {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-links-container-card {
  text-align: center;
  margin-top: 25px;
  font-size: 32px;
  .icon {
    color: #ccc;
    margin: 0 10px;
  }

  .icon:hover {
    color: white;
    cursor: pointer;
  }
}
