@import './_variables.scss';

.launch-container {
  width: 75%;
  margin: 100px auto;
}

.flight-container-table-container {
  background-color: white;
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);

  .table-container-header {
    height: 50px;
    border-radius: 5px 5px 0 0;
    background-color: $primaryColor;
  }
  .flight-row-container {
    border-bottom: 1px solid #ddd;
    .flight-row-image-container {
      .flight-row-image {
        width: 75px;
        margin: 15px 25px;
      }
    }
  }
}

.pagination-outer {
  display:block;
  text-align: center;
  margin-top: 20px;
  .pagination-container {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    .pagination-tile {
      width: 50px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #ccc;
    }
    .pagination-tile-active{
      background-color: $primaryColorDark;
      color:white;
    }
    .pagination-tile:hover{
      background-color: $primaryColor;
      color: white;
      cursor: pointer;
      border: 1px solid $primaryColorDark;
    }
    .pagination-tile:first-of-type{
      border-radius: 5px 0 0 5px;
    }
    .pagination-tile:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    .disabled{
      color: #aaa;
    }

    .disabled:hover{
      color: #aaa;
      background-color: white;
      border: 1px solid #ccc;
      cursor: initial;
    }
  }
}