@import './_variables.scss';

body {
  //font-family: 'Orbitron';
  font-family: 'Exo 2', sans-serif;
  background-color: #fff;
}

.launch-container {
  width: 75%;
  margin: 0 auto;
  text-align:center;
}

.logo-container {
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  .logo-img {
    padding: 5px 0;
    width: 250px;
  }
}

.flight-container-header{
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  background-color: $primaryColorDark;
  color: white;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.flight-card-container {
  border-radius: 10px;
  vertical-align: middle;
  margin: 150px 25px 0 25px;
  width: 550px;
  height: 700px;
  background-color: #555;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);

  .flight-card-number {
    font-size: 18px;
    color: #aaa;
    text-align: center;
    text-transform: uppercase;
  }
  .flight-card-date {
    font-size: 24px;
    padding: 0 36px;
    color: #aaa;
  }
  .flight-card-top {
    background-color: #333;
    position: relative;
    height: 200px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

    .flight-card-image-container {
      width: 150px;
      height: 150px;
      border-radius: 200px;
      position: absolute;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
      .flight-card-image {
        width: 125px;
      }
    }
    .flight-card-number {
      font-size: 32px;
      color: #ddd;
      text-align: center;
      text-transform: uppercase;
    }
    .success-container{
      color: #aaa;
      text-align: right;
      padding: 5px 5px 0 0;
      font-size: 16px;
    }
  }
  .flight-card-bottom{
    text-align: center;
    .flight-card-name{
      color: white;
      font-size: 24px;
      margin: 85px auto 0 auto;
      padding: 10px 15px;
      border-bottom: 1px solid #aaa;
      width: fit-content;
    }
  }
}


.pagination-outer {
  display: block;
  text-align: center;
  margin-top: 20px;
  .pagination-container {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    .pagination-tile {
      width: 50px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #ccc;
    }
    .pagination-tile:hover {
      background-color: #eee;
      color: #333;
      cursor: pointer;
    }
    .pagination-tile-active {
      background-color: $primaryColor;
      color: white;
    }
    .pagination-tile-active:hover {
      background-color: $primaryColorDark;
      color: white;
    }
    .pagination-tile:first-of-type {
      border-radius: 5px 0 0 5px;
    }
    .pagination-tile:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    .disabled {
      color: #aaa;
    }

    .disabled:hover {
      color: #aaa;
      background-color: white;
      border: 1px solid #ccc;
      cursor: initial;
    }
  }
}