@import './_variables.scss';

body {
  //font-family: 'Orbitron';
  font-family: 'Exo 2', sans-serif;
  background-color: #fff;
}

.launch-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.logo-container {
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  .logo-img {
    padding: 5px 0;
    width: 250px;
  }
}

.flight-container-header {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  background-color: $primaryColorDark;
  color: white;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.flight-card-container {
  border-radius: 10px;
  vertical-align: middle;
  margin: 150px 25px 0 25px;
  width: 550px;
  height: 700px;
  background-color: #555;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);

  .flight-card-top {
    background-color: #333;
    position: relative;
    height: 200px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    .divider {
      width: 150px;
      background-color: #666;
      margin: 5px auto;
      height: 1px;
    }
    .flight-card-number {
      font-size: 18px;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
    .flight-card-name {
      color: #aaa;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      width: fit-content;
    }
    .flight-card-image-container {
      width: 150px;
      height: 150px;
      border-radius: 200px;
      position: absolute;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
      .flight-card-image {
        width: 125px;
      }
    }
    .flight-card-number {
      font-size: 32px;
      color: #ddd;
      text-align: center;
      text-transform: uppercase;
    }
    .success-container {
      color: #aaa;
      text-align: right;
      padding: 5px 5px 0 0;
      font-size: 16px;
    }
  }

  .bottom-row {
    border-top: 1px solid #666;
    margin: 0 20px 0 20px;
  }

  .bottom-row:first-child {
    border-top: none;
  }

  .flight-card-bottom-container{
    overflow:hidden;
  }

  .flight-card-bottom {
    text-align: left;
    padding: 75px 30px 0 20px;
    font-size: 18px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    .flight-card-row {
      color: white;
      padding: 10px 0;
    }
    .descriptor {
      text-transform: uppercase;
      color: #aaa;
      margin-right: 10px;
    }

    .flight-card-row-details {
      height: 175px;
      overflow: hidden;
    }

    .expand-icon-container {
      margin-top: 5px;
      height: 28px;
      text-align: center;
    }
    .expand-text {
      font-size: 18px;
      color: #fbab20;

    }
    .expand-text:hover {
      cursor: pointer;
    }
  }
}

.full-details{
  transform: translateX(600px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

}

.hide-details{
  transform: translateX(-600px);
}

.show-details{
  transform: translateX(0);
}

//Taken from https://github.com/IanLunn/Hover/blob/master/css/hover.css
.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-links-container {
  text-align: center;
  margin-top: 25px;
  .icon {
    color: #ccc;
    font-size: 32px;
    margin: 0 10px;
  }

  .icon:hover {
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
}

.pagination-outer {
  display: block;
  text-align: center;
  margin-top: 20px;
  .pagination-container {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    .pagination-tile {
      width: 50px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #ccc;
    }
    .pagination-tile:hover {
      background-color: #eee;
      color: #333;
      cursor: pointer;
    }
    .pagination-tile-active {
      background-color: $primaryColor;
      color: white;
    }
    .pagination-tile-active:hover {
      background-color: $primaryColorDark;
      color: white;
    }
    .pagination-tile:first-of-type {
      border-radius: 5px 0 0 5px;
    }
    .pagination-tile:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    .disabled {
      color: #aaa;
    }

    .disabled:hover {
      color: #aaa;
      background-color: white;
      border: 1px solid #ccc;
      cursor: initial;
    }
  }
}