@import './_variables.scss';

.flights-container {
  margin: 75px auto 100px auto;
  max-width: 1200px;
}

.flight-container-table-container {
  margin-top: 50px;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-align: left;
  .table-container-header {
    background-color: #333333;
    color: white;
    th {
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 10px 10px 0;
    }
  }
  .launch-row-container {
    border: 1px solid #bbb;
  }
  .stripe-even {
    background: #ccc;
  }
  .stripe-odd {
    background-color: #eee;
  }
  .row-flight-number {
    width: 100px;
    padding: 10px;
  }

  .row-mission-patch {
    width: 60px;
    padding: 20px;
    .mission-patch {
      width: 50px;
    }
  }
  .row-date {
    width: 140px;
    text-align: left;
    text-transform: uppercase;
  }

  .row-links {
    width: 150px;
  }
  .row-success {
    width: 50px;
    text-align: center
  }
  .row-rocket-name {
    width: 115px;
  }
  .row-expand {
    padding-left: 10px;
    font-size: 16px;
  }
  .row-expand-icon:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
  }
  .row-site {
    padding: 10px 10px;
  }
  #th-site {
    padding-left: 10px;
  }

  #th-site, .row-site {
    @media(max-width: 800px) {
      display: none;
    }
  }

  .launch-row-details {
    width: 100%;
    height: 20px;
    background-color: #333333;
  }
  .show-details {
    display: contents;
  }

  .hide-details {
    display: none;
  }
}

.row-extra-info {
  .header {
    padding: 5px 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
  }

  .payload-table {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    thead {
      background-color: $primaryColorDark;
      color: white;
      color: white;
    }
    td, th{
      padding: 5px 5px 5px 10px;
    }
  }

  .row-extra-details {
    padding: 10px 20px;
    letter-spacing: 0.5px;
  }
  .row-extra-payload-container {
    margin-top: 25px;
  }
}

.icon-links-container-list {
  font-size: 24px;
  .icon {
    color: #333;
    margin-right: 20px;
  }
  .icon:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

.pagination-outer {
  display: block;
  text-align: center;
  margin: 40px 0;
  font-size: 16px;
  .pagination-container {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    .navigation-tile {
      width: 100px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      padding: 0 10px;
    }
    .pagination-tile-container {
      display: inline-block;
    }
    .navigation-tile:hover {
      cursor: pointer;
      font-weight: 700;
    }
    .pagination-tile {
      width: 50px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      border-right: 1px solid #ccc;
      margin: 5px;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }
    .pagination-tile-text {
      -webkit-transform: skewX(20deg);
      -moz-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
      -o-transform: skewX(20deg);
      transform: skewX(20deg);
    }
    .pagination-tile:hover {
      background-color: #eee;
      color: #333;
      cursor: pointer;
    }
    .pagination-tile:first-of-type {
      border-left: 1px solid #ccc;
    }
    .pagination-tile-active {
      background-color: #444;
      color: white;
    }
    .pagination-tile-active:hover {
      background-color: #222;
      color: white;
    }
    .disabled {
      color: #aaa;
    }

    .disabled:hover {
      color: #aaa;
      background-color: white;
      border: 1px solid #ccc;
      cursor: initial;
    }
  }
}