body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ddd;
}

@import './flightContainer';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";