.timeline-date{
    opacity: .5;
    font-size: 16px;
    font-family: 'Orbitron';
    margin-left: 50px;
}

/* Grow */
.hvr-grow {

}

.hvr-grow:hover {
    color:red;
}

.card-container{
	display:flex;
	justify-content: center;
	margin-top: 75px;
}

.grid-outer{
	width:100%;
}

.mission-patch{
	width: 150px;
	z-index: 2;
	margin: 0 auto;
}

.vertical-timeline{
	content: '';
	position: absolute;
	top: 0;
	height:98%;
	width: 4px;
	background: #ccc;
	margin-top: 80px;
	z-index: 0;
}

.header-flight-name{
	margin-left: 10px;
	font-family:'Orbitron';
	display: inline-block;
	columns: #aaa;
}

.header-flight-number{
	display: inline-block;
	font-family: 'Orbitron';
}

.youtube-link{
	float: right;
	margin-top: 5px;
	font-size: 22px;
	cursor: pointer;
}

.card-pointer{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #d4d4d5;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: 100%;
	top: 5px;
	display: 'inline-block';
}

.card{
	width:80%;
    z-index:2;
}