

.example-component {
  position: fixed;
  top: 0;
  left:10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
}
.example-component.show {
  opacity: 1;
  visibility: visible; 
}
.scrollBtn = {
  font-size: 14px;
  background-color: #204787;
  font-family: 'Orbitron';
  color:white;
  border-radius:3px;
  left: 20px;
}