

.scroll-btn-pop {
  position: fixed;
  top: 0;
  left:10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden; 
}
.scroll-btn-pop.show {
  opacity: 1;
  visibility: visible; 
}

.scroll-btn {
  font-size: 14px;
  background-color: #025085!important;
  font-family: 'Orbitron'!important;
  color:#fff!important;
  border-radius: 2px!important;
  left: 20px;
}


