
.scroll-btn-container-show{
  position: fixed;
  top:0px;
  left: 20px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
.scroll-btn-container-hide{
  position: fixed;
  top:-50px;
  left: 20px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.scroll-btn{
  font-size: 14px;
  background-color: #025085!important;
  font-family: 'Orbitron'!important;
  color:#fff!important;
  border-radius: 2px!important;
}

