.vertical-timeline{
  content: '';
  position: absolute;
  top: 0;
  height: 98%;
  width: 4px;
  background: #ccc;

  margin-top:80px;
  z-index: 0;
}

.header-container{
  margin-bottom: 150px;
}

.sub-header{
  color:#bbb;
  font-family: 'Orbitron';
}


.youtube-link = {
  color: 'white';
  text-decoration: none;
  display: block;
  height: 100%;
}

.spacex-logo{
  width: 50%;
  margin-top:125px;
  margin-bottom:20px;
}
